@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<BSButton Color="Color.Primary" @onclick="IncrementCount">Click me</BSButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
