
@if (Device != null) {
	<h2>
		@Device.Ja
	</h2>
	<BSTabGroup>
		<BSTabList>
			@{
				int i = 0;
				foreach (var tab in tabs) {
					if (i >= propCount)
						break;
					i++;
					<BSTab @ref="tab.Tab">
						<BSTabLabel>@("0x" + tab.Property.Epc.ToString("X02"))</BSTabLabel>
						<BSTabContent>
							<ELPropertyView Device="@Device" Property="@tab.Property" />
						</BSTabContent>
					</BSTab>
				}
			}
		</BSTabList>
		<BSTabSelectedContent />
	</BSTabGroup>
}

@code{
	ELDevice device;
	[Parameter]
	public ELDevice Device { get { return device; } set { SetDevice(value); } }

	class TabInfo
	{
		public ELProperty Property;
		public BSTab Tab;
	}

	List<TabInfo> tabs = new List<TabInfo>();
	int propCount = 0;

	private void SetDevice(ELDevice device)
	{
		this.device = device;
		if (device == null) {
			propCount = 0;
			return;
		}

		int i = 0;
		foreach (var prop in device.Properties) {
			TabInfo tab = (i < tabs.Count) ? tabs[i] : new TabInfo();
			tab.Property = prop;
			tabs.Add(tab);
			i++;
		}
		propCount = i;
	}
}
